In [ ]:
import re

In [13]:
# Reading the current cleaned_data.csv as lines
with open('messy_data.csv', 'r') as f:
    lines = f.readlines()

In [14]:
# Preparing lists for each column
names, addresses, ages, genders = [], [], [], []

In [15]:
for line in lines:
    # Using regex to extract fields
    name_match = re.search(r'Name ([A-Za-z ]+)', line)
    address_match = re.search(r'Address (.+?) Age', line)
    age_match = re.search(r'Age (\d+)', line)
    gender_match = re.search(r'Gender (Male|Female)', line)
    
    names.append(name_match.group(1).strip() if name_match else '')
    addresses.append(address_match.group(1).strip() if address_match else '')
    ages.append(int(age_match.group(1)) if age_match else None)
    genders.append(gender_match.group(1) if gender_match else '')

In [16]:
# Creating a new DataFrame
clean_df = pd.DataFrame({
    'Name': names,
    'Address': addresses,
    'Age': ages,
    'Gender': genders
})

In [17]:
# Saving to a new CSV
clean_df.to_csv('cleaned_data.csv', index=False)
clean_df.head()

,Name,Address,Age,Gender
0,Hussein Hakeem Address Number,Number 22 Fioye Crescent Surulere Lagos,17,Male
1,Arojoye Samuel Address,11 Omolade Close Omole Estate Lagos,16,Male
2,Alex Ezurum Address,"1 Adamu Lane, Abuja",14,Male
3,Susan Nwaimo Address Number,"Number 58 Yaba Street, Kaduna State",16,Female
4,Ajao Opeyemi Address No,"No12 Olubunmi Street, Abeokuta",18,Female